:host {
    background-image: url('/assets/images/footer.jpg');
    background-size: cover;
    background-position: center center;
    text-align: right;
    color: darkgreen;
}

p {
    padding: 1rem;
}