<div class="introduction">
    <h1>María Rosalía González Iñiguez</h1>
    <h3>Computer Systems Engineering Student</h3>
    <p>
        I was an Executive Manager and I amassed 7 years of experience. In progress of obtaining a degree in Computer Systems Engineering.
        <br><br>
        I enjoy reading, listening to music and learning new things.
    </p>
</div>
  
<div class="skills">
    <h2>Skills</h2>
    <ul>
        <li>Java</li>
        <li>Javascript</li>
        <li>Python</li>
        <li>SQL</li>
        <li>NoSQL</li>
        <li>Power Bi</li>
        <li>Graph Databases</li>
        <li>Cypher</li>
        <li>Flutter</li>
        <li>Angular</li>
        <li>NodeJs</li>
    </ul>
</div>

