<dir id="homeLink"><a href="/">Home</a></dir>


<h2>Noticias</h2>

<h3>Resultados de la búsqueda:</h3>
<div id="listNews">
    {{#if articles}}

    <ul>
        {{#each articles}}
        <li>
            {{#if urlToImage}}
            <img id="imgNews" src="{{urlToImage}}" alt="image news">
            {{/if}}

            <h4>{{title}}</h4>
            <p>{{description}}</p>
            <a href="/article/{{url}}" target="_blank">Leer más</a>
        </li>
        <hr>
        {{/each}}
    </ul>
    {{/if}}
</div>