<section class="contact">
    <h4 id="contact_title"> Contacto </h4>
    <div>
        <a href="mailto:rosalia.gonzalez@iteso.mx">&#128231; Email</a>
        <br><br>
        <a href="https://api.whatsapp.com/send?phone=523414200671">&#128241; WhatsApp</a>
    </div>
</section>