<section class="fotos">
    <h4 id="fotos_title"> Fotos </h4>
    <div class="galeria">
        <div class="img-cont"><img src="/imgs/caballito_mar.jpg" alt="caballito de mar"></div>
        <div class="img-cont"><img src="/imgs/caballos.jpg" alt="Tío e hija en cabajo"></div>
        <div class="img-cont"><img src="/imgs/catrinayma.jpg" alt="Catrina y mi mamá"></div>
        <div class="img-cont"><img src="/imgs/chiles.jpg" alt="Pila de chiles en mercado"></div>
        <div class="img-cont"><img src="/imgs/copito_frida.jpg" alt="Copito y Frida"></div>
        <div class="img-cont"><img src="/imgs/danzante.JPG" alt="Danzante en feria Tamazula"></div>
        <div class="img-cont"><img src="/imgs/flor1.jpg" alt="Flor"></div>
        <div class="img-cont"><img src="/imgs/flor2.jpg" alt="Flor"></div>
        <div class="img-cont"><img src="/imgs/flor3.jpg" alt="Flor"></div>
        <div class="img-cont"><img src="/imgs/gunsnroses.jpg" alt="Foto de concierto Guns N' Roses"></div>
        <div class="img-cont"><img src="/imgs/michi1.jpg" alt="Michi"></div>
        <div class="img-cont"><img src="/imgs/michi2.jpg" alt="Michi"></div>
        <div class="img-cont"><img src="/imgs/michi3.jpg" alt="Michi"></div>
        <div class="img-cont"><img src="/imgs/musica.jpg" alt="Organillero"></div>
        <div class="img-cont"><img src="/imgs/piñas.jpg" alt="Piñas"></div>
        <div class="img-cont"><img src="/imgs/plantita.jpg" alt="Plantitas"></div>
        <div class="img-cont"><img src="/imgs/playa.jpg" alt="Playa Cuyutlán"></div>
        <div class="img-cont"><img src="/imgs/templo.jpg" alt="Templo en Oaxaca"></div>
        <div class="img-cont"><img src="/imgs/templo2.jpg" alt="Templo"></div>
        <div class="img-cont"><img src="/imgs/yo_peque.jpg" alt="Yo peque"></div>
    </div>
</section>