<section>
    <h4 id="hobbies_title"> Hobbies </h4>
    <article class="hobbies">
        <h5>¿Qué me gusta hacer?</h5>
        &#128214; Leer <br>
        &#127926; Escuchar música <br>
        &#128564; Dormir <br>
        &#128523; Comer <br>
        &#128250; Ver series y pelis <br>
        &#128187; Programar
    </article>
</section>