<div id="hello">
    <img src="/imgs/hello.jpeg" alt="hello">
    <br>
    <q>Aprender no es prepararse para la vida. Aprender es la vida misma.
        <br>
        John Dewey.
    </q>
</div>