<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>

<body>
    <header>
        <h1> &#10024; Mi Página &#x2728;</h1>
        <h3>Bienvenidos</h3>
        <nav>
            <a href="/">&#127968; Home</a>
            <a href="/galeria">&#128247; Galeria</a>
            <a href="/hobbies">&#128214; Hobbies</a>
            <a href="/contacto">&#128241; Contacto</a>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>


    <footer>
        Lalalala
    </footer>

</body>

</html>