@mixin nomargin {
    margin: 0;
    padding: 0;
}

@mixin big {
    @media screen and (max-width: 1024px) {
        @content;
    }
}

@mixin medium {
    @media screen and (max-width: 800px) {
        @content;
    }
}

@mixin maxwidth {
    width: 100%;
}

@mixin textcenter {
    text-align: center;
}