<div class="contact-container">
    <h2>Información de contacto</h2>
  
    <div class="contact-info">
      <p>Teléfono: <a [href]="'https://wa.me/' + contactData[0].tel" target="_blank" rel="noopener noreferrer">+52 341 420 0671</a></p>
      <p>Email: <a [href]="'mailto:' + contactData[0].email" target="_blank" rel="noopener noreferrer">mrginiguez@gmail.com</a></p>
      <p>Redes sociales:</p>
      <ul>
        <li><a [href]="contactData[0].linkedin" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
        <li><a [href]="contactData[0].github" target="_blank" rel="noopener noreferrer">GitHub</a></li>
      </ul>
    </div>
  </div>
  